
.card {
background-color: #ccc;
margin: 2rem 1rem;
border-top: 5px solid #0066ff;
padding: 8px;

}
.card_title{
color: #0066ff;
margin-bottom:.2rem;
margin-top:.2rem;
font-size: 1.4rem;
font-weight: 400;
}
.card_text {
  font-family: 'Roboto';
  font-size: 1.1rem;
}
