
.card {
background-color: #ccc;
margin: 2rem 1rem;
border-top: 5px solid #0066ff;
padding: .6rem;
padding-top:.2rem;

}
.card_title{
color: #0066ff;
margin-bottom:.2rem;
font-size: 1.3rem;
font-weight: 400;
margin-top:0;
}
.card_text {
  font-family: 'Roboto';
  font-size: 1.0rem;
}
