.footer-container{
  width:970px;
  height: 80%;
  border: 5px solid#ccc;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.footer-contacts{
  width:40%;
  height: 80%;
  border:1px solid black;

}
.footer-map{
  width:40%;
  height: 80%;
  border:1px solid black;
}
