
.photo-card{
  width: 200px;
  margin: 2rem auto;
}
.photo-card_image {
  margin-top:0;
  margin-bottom:0px;
  display:block;


}
.photo-card_text {
  margin-top: 0rem;
  background: #c99;
  padding: .5rem;
  width:200px;
  font-size:.8rem;
}
