.vert-menu{
  width:200px;
  margin: 0 auto;
  margin-top: 2rem;
}
.vert-menu-item{
  text-decoration:none;
  display:block;
  background: #000;
  color:#fff;
  font-family:'Roboto';
  text-align:center;
  padding:5px;
  margin-bottom:.3rem;
  font-size: 1.2rem
}
.vert-menu-item:hover  {
  border-top: 5px solid blue;
}
